<div class="credits">
<hr>
  <h2>Credits</h2>

  <div class="entry">
  	<span class="credit-title">Reporter</span>
    <br><span class="credit-name"><a href="mailto:byu@sfchronicle.com">Brandon Yu</a></span>
  </div>

  <div class="entry">
  	<span class="credit-title">Photographer</span>
    <br><span class="credit-name"><a href="mailto:glurie@sfchronicle.com">Gabrielle Lurie</a></span>
  </div>

  <div class="entry">
  	 <span class="credit-title">Videographer</span>
    <br><span class="credit-name"><a href="mailto:mvarghese@sfchronicle.com">Manjula Varghese</a></span>
  </div>

  <div class="entry">
     <span class="credit-title">Editor</span>
    <br><span class="credit-name"><a href="mailto:dwiegand@sfchronicle.com">David Wiegand</a></span>
  </div>


  <div class="entry">
  	<span class="credit-title">Photo Editors</span>
    <br><span class="credit-name"><a href="mailto:nfruge@sfchronicle.com">Nicole Frugé</a></span>
    <br><span class="credit-name"><a href="mailto:gwathen@sfchronicle.com">Guy Wathen</a></span>
  </div>

  <div class="entry">
  	 <span class="credit-title">Producer</span>
    <br><span class="credit-name"><a href="mailto:kchua@sfchronicle.com">Kimberly Chua</a></span>
  </div>


  <div class="entry">
  	<span class="credit-title">Copy Editors</span>
    <br><span class="credit-name"><a href="mailto:kpetterson@sfchronicle.com">Karen Petterson</a></span>
    <br><span class="credit-name"><a href="mailto:wpederson@sfchronicle.com">Warren Pederson</a></span>
  </div>

  

  <div class="entry">
  	 <span class="credit-title">Interactive Producer</span>
    <br><span class="credit-name"><a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a></span>
  </div>


  



</div>

