<div class="related-links">
	<hr>
  <div class=" related-links-title"><h3>Related Links</h3></div>
  
  <div class="dont-miss">

		<div class="story ">
	    <div class="padded">
	      <a href="http://www.sfchronicle.com/bayarea/article/Overflow-crowd-marks-40th-anniversary-of-I-Hotel-11735945.php">
	        <img src="http://ww3.hdnux.com/photos/64/02/53/13642458/9/premium_landscape.jpg">
	      <h4>Community marks 40th anniversary of I-Hotel evictions</h4>
	      </a>
	    </div>
	  </div>

		<div class="story ">
	    <div class="padded">
	      <a href="http://www.sfchronicle.com/opinion/editorials/article/Editorial-A-watershed-moment-in-city-s-housing-11735629.php">
	        <img src="http://ww1.hdnux.com/photos/64/00/12/13632136/3/premium_landscape.jpg">
	      <h4>Editorial: A watershed moment in city's housing wars</h4>
	      </a>
	    </div>
	  </div>

	  <div class="story ">
	    <div class="padded">
	      <a href="http://www.sfchronicle.com/bayarea/article/I-Hotel-30-years-later-Manilatown-legacy-3416119.php">
	        <img src="http://ww3.hdnux.com/photos/12/20/12/2687678/6/premium_landscape.jpg">
	      <h4>I-Hotel, 30 years later: Honoring the Manilatown legacy</h4>
	      </a>
	    </div>
	  </div>

	</div>
</div>