<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://npmcdn.com/flickity@1.2/dist/flickity.pkgd.js"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flickity@1.2/dist/flickity.css">
    <link rel="stylesheet" type="text/css" href="style.css?1">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>


    <% var data = json.ihotel_story %>
    
    <div id="mainbar">

      
   
      
      <div class="article">

      
        <div class="mainimage">
          <img src="http://ww1.hdnux.com/photos/61/75/22/<%= data.main_image[0].Wcm_id %>/3/2000x0.jpg">
        </div>
        <div class="header">
          <p class="label">International Hotel: 40 Years Later</p>
          <h1 class="title"><%= data.Headline %></h1>
          <div class="deck"><%= data.Deck %></div>
           <p class="date"><%= data.Date %> | By <a href="mailto:byu@sfchronicle.com"><%= data.Reporter %></a></p>  
        </div>

       
      <% json.ihotel_story['text'].forEach(function(text) { %>

        

        <% if ( text.type == 'text' ){ %>


          <p><% var text = text.value.replace("**","<i>").replace("*","</i>"); %>
          <%= text %></p>


        <% } else if ( text.type == 'infobox' ){  %>

          <%= t.include("partials/_infobox.html") %>


        <% } else if ( text.type == 'float_left' ){ %>

          <div class="float-img-container">
            <div class="float-img left">
              <img src="http://ww1.hdnux.com/photos/61/75/22/<%= text.value[0].Wcm_id %>/3/2000x0.jpg">
              <div class="caption"><%= text.value[0].Caption %> <span class="byline"><%= text.value[0].Photographer %></span></div>
            </div>
          </div>


        <% } else if ( text.type == 'graphic' ){ %>

          <div class="float-img-container">
            <div class="float-img right">
              <img src="./assets/photos/graphix1.jpg">
            </div>
          </div>



         <% } else if ( text.type == 'image' ){ %>

          <div class="<%= text.value[0].Size %>-img">
            <img src="http://ww1.hdnux.com/photos/61/75/22/<%= text.value[0].Wcm_id %>/3/2000x0.jpg">
            <div class="caption"><%= text.value[0].Caption %> <span class="byline"><%= text.value[0].Photographer %></span></div>
          </div>



        <% } else if ( text.type == 'grid' ){ %>

          <div class="grid">

          <% 
             var imgs = text.value[0].Wcm_id.split(',');
             var img_one = imgs[0];
             var img_two = imgs[1];
           %>
            <div class="grid-img">
              <img src="http://ww1.hdnux.com/photos/61/75/22/<%= img_one %>/3/2000x0.jpg">
            </div>
            <div class="grid-img">
              <img src="http://ww1.hdnux.com/photos/61/75/22/<%= img_two %>/3/2000x0.jpg">
            </div>
            <div class="caption"><%= text.value[0].Caption %> <span class="byline"><%= text.value[0].Photographer %></span></div>
          </div>
          
               

        <% } else if ( text.type == 'video' ){ %>


         <div class="inline-img">
            <div class='embed-container'>
            <iframe src='http://player.vimeo.com/video/<%= text.value[0].Vimeo_id %>' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <div class="caption"><%= text.value[0].Caption %><span class="byline"> <%= text.value[0].Photographer %></span></div>
          </div>

        <% } else if ( text.type == 'slideshow' ){ %>

          <div class=" carousel slideshow js-flickity" data-flickity-options='{ "imagesLoaded": true, "pageDots": false }'>
            <% text.value.forEach(function(slide) { %>

             <div class="carousel-cell">
              <img src="<%= slide.Wcm_id %>">
              <div class="caption"><%= slide.Caption %> <span class="byline"><%= slide.Photographer %></span></div>
            </div>

            <% }); %>

          </div>

          <% } else if ( text.type == 'correction' ){  %>

          <p class="correction">Correction: <%= text.value[0].Correction %></p>

          <% } else if ( text.type == 'timeline_' ){ %>

          <div class="carousel slideshow js-flickity timeline" data-flickity-options='{ "imagesLoaded": true, "pageDots": false }'>
            
            <% text.value.forEach(function(slide) { %>

             <div class="carousel-cell">
              <div class="timeline-date"><%= slide.Date %></div>
              <div class="timeline-text"><%= slide.Text %></div>
            </div>

            <% }); %>
          </div>
         <% } %>

      <% }); %>


    </div>

    </div>

    <%= t.include("partials/_related.html") %>
    <%= t.include("partials/_credits.html") %>
    <%= t.include("partials/_footer.html") %>
   
    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
